<header>
    <nav>
        <a href="/">Mybarry</a>
        <ul>
            <li><a href="/authors">Books</a></li>
            <li><a href="/authors">Add Book</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add author</a></li>
        </ul>
    </nav>
</header>